/*html, body {height: 100%; margin: 0px;}*/

body { background: #453b44; }

a, a:focus {
	color: #B99573;
	text-decoration: none;
}

.container-main a:hover {
	color: #745960;
	text-decoration: none;
}

.epilogue a:hover {
	color: #fff;
	text-decoration: none;
}

.nav-container {
	text-align: right;
	padding: 0;
	height:100%;
}

.nav-link {
	position: relative;
	display: inline-block;
	font-family: "ff-tisa-web-pro", serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 40px;
	min-height: 100%;
	color: #bebca2;
	margin-top: 45px;
	margin-bottom: 40px;
}

.nav-link.active {
	color: #efeee8;
}

.nav-link.active::after {
	content:"...";
	position: absolute;
	height: 4px;
	line-height: 4px;
	color: #efeee8;
	font-size: 20px;
	bottom: -2px;
	left:0;
	width: 100%;
	text-align: center;
}

.nav-link a {
	color: inherit;
	text-decoration: none;
}

.container-main { 
	background: #efeee9;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.container-main h1 {
	font-family: "proxima-nova", sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #1e1a1b;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.container-main h2 {
	font-family: "proxima-nova", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #1e1a1b;
	text-transform: uppercase;
}

.container-main h2 a {
	text-decoration: none;
	color: black;
}

.container-main h2 a:hover {
	color: #745960;
}

.dataLabel {
	font-family: "proxima-nova", sans-serif;
	font-size: 15px;
	color: #745960;
	text-transform: uppercase;
}

.dataValue {
	font-size: 15px;
	font-family: "ff-tisa-web-pro", sans-serif;
	color: #1e1a1b;
}

.dataValue a {
	color: #1e1a1b;
	text-decoration: underline;
}

a.download-link, a.download-link:focus {
	font-family: "proxima-nova", sans-serif;
	display: inline-block;
	color: #eeede8;
	background-color: #453b44;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 8px;
	padding-right: 12px;
	text-decoration: none;
}

a.download-link:hover {
	text-decoration: none;
	color: #d6b697;
}

/*.epilogue {
	background-color: #1e1a1b;
	color: #eeede8;
}

.epilogue .footer-bottom-text { 
 	font-family: "proxima-nova", sans-serif;
 	color: #fff;
 	font-size: 10px;
}

.epilogue .footer-main-text { 
	font-family: "proxima-nova", sans-serif; 
	color: #fff; 
	font-size: 18px; 
}*/

.epilogue { background-color: #1e1a1b; }
.epilogue h3 { padding-top: 20px; font-family: "proxima-nova", sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #d6b697;   text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px; border-bottom: 1px solid #fff;}
.epilogue .footer-bottom-text { font-family: "proxima-nova", sans-serif; color: #fff; font-size: 10px; position: relative; bottom: 0px; }
.epilogue .footer-main-text { font-family: "proxima-nova", sans-serif; color: #fff; font-size: 18px; }
.epilogue a { color: #d6b697; text-decoration: none;}
.epilogue a:hover { color: #fff; text-decoration: underline;}

.score-thumbnails {
	overflow: scroll;
	max-height: 500px;
}

.score-thumbnails a {
	display: inline-block;
	width: 50%;
}

.score-thumbnails a {
    background-color: #745960;
}

.score-thumbnails a img {
	opacity: 0.5;
}

.score-thumbnails a.selected img {
	opacity: 1;
}

#score_images {
	text-align: center;
}

#score_images img {
	/*display: inline-block;
	max-height: 98vh;*/
	margin-bottom: 20px;
}

.divider-scoreinfo {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

.divider-scoreinfo::after {
	content:'';
	position: absolute;

	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	height: 3px;
	border-radius: 3px;
	background-color: #745960;
}

.audtools audio {
	width: 100%;
	display: inline-block;
}

.audtools .aud-info {
	display: block;
	height: 35px;
	line-height: 35px;
}

div.box {
  border: 4px solid rgba(116, 89, 96, 0.30);
  background-color: rgba(116, 89, 96, 0.30);
  background-clip: padding-box;
  box-sizing: content-box;
  position:absolute;
}

.score-page {
	position: relative;
}

.score-subtitle {
	position: relative;
	margin-top: -10px;
	margin-bottom: 10px;
	font-family: "proxima-nova", sans-serif;
	color: black;
	font-size: 18px;
}

.score-subtitle span {
	color: #745960;
}

.score-thumb {
	max-width: 200px;
}

.about-text {
	font-family: 'ff-tisa-web-pro', serif;
	font-size: 16px;
}

h2.ack-title {
	margin-top: 0;
	margin-bottom: 5px;
	color: #745960;
}

.pagination > .active > a, .pagination > .active > a:focus {
	background-color: #745960;
	border-color: #745960;
}

.pagination > li > a, .pagination > li > a:hover {
	color: #B28994;
}

.pagination > .active > a:hover {
	background-color: #B28994;
	border-color: #B28994;
}

a.browse-link, a.browse-link:focus {
	font-family: "proxima-nova", sans-serif;
	text-align: center;
	display: inline-block;
	color: #eeede8;
	background-color: #453b44;
	text-transform: uppercase;
	font-weight: bold;
	width: 90%;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 8px;
	text-decoration: none;
}

a.browse-link.active {
	color: #B99573;
	margin-left: -10%;
	transition: 0.3s all;
}

.browse-link:hover {
	text-decoration: none;
	color: inherit;
	color: #B99573;
	transition: 0.3s all;
}

[ng-cloak], .ng-cloak {
	display: none !important;
}

.visibility-hidden {
	visibility: hidden;
}

.help-icon {
	margin-left: -30px;
	line-height: 50px;
	height: 50px;
	font-size: 1.5em;
}

.browse-help-text {
	margin-top: 1em;
	margin-right: 10%;
	font-family: "ff-tisa-web-pro", sans-serif;
	font-size: 16px;
}

.bio-text {
	font-family: "ff-tisa-web-pro", sans-serif;
	font-size: 16px;
}

.bio-source {
	font-family: "proxima-nova", sans-serif;
	font-size: 14px;
	padding-left: 20px;
	text-indent: -20px;
}

.bio-source-container {
	margin-top: 1em;
}