html, body {height: 100%; margin: 0px;}

body { background: #90926d; }


#logo {
    background: url('../img/homelogo.png') no-repeat;
    width: 500px;
    height: 200px;
    margin: auto;
}

section { overflow: hidden; }
  #first { background: url('../img/welcome2.jpg') center -200px fixed no-repeat; background-size: cover; overflow: hidden; }
  #first a { color: #fff; font-family: "ff-tisa-web-pro", serif; font-size: 22px; text-shadow: rgba(0,0,0,0.8) 2px 2px 4px}
  #firstl ul { margin: 0 auto; }
  #first ul li { display: inline; padding-right: 2em;}


  #second { background: url('../img/textspot3.jpg') 50% 0 repeat; }
  #second { padding: -3px 0;}
  #second h1 {  margin-top: 50px;font-family: "proxima-nova", sans-serif; font-size: 32px; font-weight: bold; text-transform: uppercase; color: #e3ead5;   text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}
  #second h4 { margin-top: 0px; font-family: "ff-tisa-web-pro", serif; color: #2c1b32; font-style: italic; font-size: 22px;}
  #second p { font-family: "ff-tisa-web-pro", serif; color: #e3ead5; font-size: 16px;}
  #second .spacer { height: 150px;}
  #second a { font-family: "ff-tisa-web-pro", serif; color: #2c1b32; font-style: italic; text-decoration: underline; font-size: 18px;  }
  #second a:hover { color: #e3ead5;}

  #third { background: #2c1b32 80% 0 no-repeat fixed ; background-position: -300px;}
  #third h3 {  margin-top: 50px;font-family: "proxima-nova", sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #fff;   text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px; border-bottom: 1px solid #fff;}
  #third p { font-family: "proxima-nova", sans-serif; color: #fff; font-size: 10px; position: relative; bottom: 0px; margin-top: 25px;}
  #third a { color: #fff; text-decoration: underline;}
  #third a:hover { color: #564b5b;}

  .prologue { height: 75%; max-height: 1050px; padding: 0; margin: 0; width: 100%; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8); }
  .story { padding: 0; margin: 50px 0px 500px 0px; width: 100%; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8); }
  .epilogue { height: 200px; padding: 0; margin: 0; width: 100%; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 10px rgba(0,0,0,0.8); }


/*@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #first {
    background: url('../images/welcome2@2x.jpg') no-repeat;
    background-size: cover;
  }
  #logo {
    background: url('../images/homelogo@2x.png') no-repeat center center fixed;
    background-size: 500px 200px;
  }

}*/

@media (max-width: 420px) {
  #logo {margin-left: -5px; width: 320px; height: 134px; background-size: cover;}
  #first { background-size: 600px 400px; background-position: top center;}
}
