<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/score-list.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="appjs/real.js"></script>
</head>

<body ng-controller="artist_controller as artist">
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
			<div class="row">
				<div class="col-md-8">
					<h1>{{ (artistInfo.artist.f_name || "") + " " + artistInfo.artist.l_name }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="bio-text" ng-bind-html="artistInfo.artist.biography">
					</div>
					<div class="bio-text-none" ng-hide="artistInfo.artist.biography">
						No biography is available at this time.
					</div>
				</div>
			</div>
			<div class="row" ng-show="artistInfo.score.length !== 0">
				<div class="col-md-8 col-md-offset-2 score-list-container">
					<h2>Composed Scores:</h2>
					<div class="score-list-item" dir-paginate="score in artistInfo.score | itemsPerPage: 8" pagination-id="score-pages" current-page="currentScorePage">
						<a href="{{ '/lyrics/score.html#?id=' + score.id }}">
							<img data-toggle="tooltip" data-placement="top" title="{{ score.title }}" ng-src="{{ score.thumb }}">
						</a>
					</div>
					<div class="text-center">
						<dir-pagination-controls pagination-id="score-pages"></dir-pagination-controls>
					</div>
				</div>
			</div>
			<div class="row" ng-show="artistInfo.work.length !== 0">
				<div class="col-md-8 col-md-offset-2 score-list-container">
					<h2>Written Works:</h2>
					<div class="score-list-item" dir-paginate="work in artistInfo.work | itemsPerPage: 8" pagination-id="work-pages" current-page="currentWorkPage">
						<a href="{{ findWorkPage(work) }}">
							<img data-toggle="tooltip" data-placement="top" title="{{ work.title }}" ng-src="{{ work.thumb }}">
						</a>
					</div>
					<div class="text-center">
						<dir-pagination-controls pagination-id="work-pages"></dir-pagination-controls>
					</div>
				</div>
			</div>
			<div class="row bio-source-container" ng-show="artistInfo.artist.biography_sources">
				<div class="col-md-8 col-md-offset-2">
					<p class="bio-source">Sources:</p>
					<div ng-repeat="source in artistInfo.artist.biography_sources.split('~')">
						<p class="bio-source" ng-bind-html="source">
						</p>
					</div>
				</div>
			</div>
	</div>

	<div ng-include="'./templates/footer.html'">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>

<!-- <body ng-cloak>
	<section id="artist_info" ng-controller="artist_controller as artist" ng-cloak>
		<section id="artist_info">
			<span class="dataLabel">Name:</span><span class="dataValue"> {{ data.artist.f_name + " " + data.artist.l_name }}</span>
		</section>
		<section id="score_info">
			<h1>This artist has worked as a composer on these scores:</h1>
			<div ng-repeat="score in data.score">
				<span class="dataLabel">Title: </span>
				<span class="dataValue"><a href="{{ '/lyrics/score.html#?id=' + score.id }}"> {{ score.title }}</a></span>
			</div>
		</section>
		<section id="work_info">
			<h1>This artist has worked as a lyricist on these works:</h1>
			<div ng-repeat="work in data.work">
				<span class="dataLabel">Title: </span><span class="dataValue"> {{ work.title }}</span>
			</div>
		</section>
	</section>
	<section id="score_images">
	</section>
</body>

</html> -->