<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/search.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/force-scrollbar.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="appjs/real.js"></script>
</head>

<body ng-controller="browse_controller as browse" ng-cloak>
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
		<div class="row">
			<div class="col-md-12">
				<h1>Browse Romantic-Era Lyrics</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<div class="row">
					<a class="browse-link" ng-class="{active: browsein == 'score'}" href ng-click="browseNew('score')">Scores</a>
					<a class="browse-link" ng-class="{active: browsein == 'performance'}" href ng-click="browseNew('performance')">Performances</a>
					<a class="browse-link" ng-class="{active: browsein == 'work'}" href ng-click="browseNew('work')">Works</a>
					<a class="browse-link" ng-class="{active: browsein == 'artist'}" href ng-click="browseNew('artist')">Artists</a>
					<a class="browse-link" ng-class="{active: browsein == 'publisher'}" href ng-click="browseNew('publisher')">Publishers</a>
					<a class="browse-link" ng-class="{active: browsein == 'collection'}" href ng-click="browseNew('collection')">Collections</a>
				</div>
				<div class="row">
					<p class="browse-help-text">{{ helpDescriptions[browsein] }}</p>
				</div>
			</div>
			<div class="col-md-9" ng-cloak>
				<img ng-show="resultsLoading" class="center-block" src="./img/ajax-loader.gif">

				<div class="row" dir-paginate="result in results | itemsPerPage: 10" current-page="currentPage" ng-cloak>
					<div class="col-md-3">
						<a href="{{ resourcePageLink(result.id, browsein, result) }}"><img class="img-responsive search-thumb" ng-src="{{ result.image }}"></a>
					</div>
					<div class="col-md-8">
						<h2><a href="{{ resourcePageLink(result.id, browsein, result) }}">{{ result.title }}</a></h2>
						<dl class="dl-horizontal">
							<dt ng-repeat-start="(key, value) in result.data" class="dataLabel" ng-show="value !== null && value != 0">{{ key }}: </dt>
							<dd ng-repeat-end ng-show="value !== null && value != 0" class="dataValue">{{ value }}</dd>
						</dl>
					</div>
				</div>

				<div ng-hide="resultsLoading">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'./templates/footer.html'">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/plugins.js"></script>
</body>

</html>