<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/score-list.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Angular JS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>

	<!-- Augmented Notes -->
  	<script src="./js/augnotes.js"></script>
  	<script src="./js/augnotesui.js"></script>

  	<!-- Romantic-Era Lyrics Application File -->
	<script src="appjs/real.js"></script>

</head>

<body ng-cloak ng-controller="publisher_controller as pub">
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
		<div class="row">
			<div class="col-md-8">
				<h1>{{ pubInfo.publisher.city + ": " + pubInfo.publisher.name }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<div class="biotext" ng-bind-html="pubInfo.publisher.description">
				</div>
				<div class="biotext-none" ng-hide="pubInfo.publisher.description">
					No biography is available at this time.
				</div>
			</div>
			<div class="col-md-3">
				<div class="row" ng-show="pubInfo.lyricists.length !== 0">
					<div class="col-md-12">
						<h2>Associated lyricists:</h2>
					</div>
				</div>
				<div class="row" ng-show="pubInfo.lyricists.length !== 0">
					<div class="col-md-12">
						<div ng-repeat="artist in pubInfo.lyricists">
							<!-- <span class="dataLabel">Title: </span> -->
							<span class="dataValue"><a href="{{ '/lyrics/artist.html#?id=' + artist.id }}"> {{ (artist.f_name || "" ) + " " + artist.l_name }}</a></span>
						</div>
					</div>
				</div>
				<div class="row" ng-show="pubInfo.composers.length !== 0">
					<div class="col-md-12">
						<h2>Associated composers:</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" ng-show="pubInfo.composers.length !== 0">
						<div ng-repeat="artist in pubInfo.composers">
							<!-- <span class="dataLabel">Title: </span> -->
							<span class="dataValue"><a href="{{ '/lyrics/artist.html#?id=' + artist.id }}"> {{ (artist.f_name || "" ) + " " + artist.l_name }}</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 score-list-container">
				<h2>Published Scores:</h2>
				<div class="score-list-item" dir-paginate="score in pubInfo.scores | itemsPerPage: 8" current-page="currentScorePage">
					<a href="{{ '/lyrics/score.html#?id=' + score.id }}">
						<img data-toggle="tooltip" data-placement="top" title="{{ score.title }}" ng-src="{{ score.thumb }}">
					</a>
				</div>
				<div class="text-center">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</div>
		<div class="row bio-source-container" ng-show="pubInfo.publisher.description_sources">
			<div class="col-md-10 col-md-offset-1">
				<p class="bio-source">Sources:</p>
				<div ng-repeat="source in pubInfo.publisher.description_sources.split('~')">
					<p class="bio-source" ng-bind-html="source">
					</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'./templates/footer.html'">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/conf_bootstrap.js"></script>

</body>

</html>