<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="bio_helper">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script> -->

    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/mystyle.css" rel="stylesheet">
    <link href="../css/scrollbar.css" rel="stylesheet">
    <link href="../css/biotext.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="./js/help.js"></script>
</head>

<body ng-controller="pub_controller as pub">
	<div class="container container-main">
		<div class="row">
			<div class="col-md-12">
				<h1>Publisher Bio</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 md-offset-1">
				<p>Email me if you have any questions. Do not submit this form until all of the information that you have in it is correct.</p>
				<p>If you make a mistake, you can resubmit this form. Just make sure that the name and city of the publisher are spelled exactly as you entered.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2> Basic Info </h2>
			</div>
		</div>
		<div class="row form-inline">
			<div class="col-md-11 col-md-offset-1 form-group">
				<label>Name:</label>
				<input class="form-control" type="text" ng-model="biodata.name">
<!-- 			</div>
			<div class="col-md-4"> -->
				<label>City/Location:</label>
				<input class="form-control" type="text" ng-model="biodata.city">
<!-- 			</div>
			<div class="col-md-4"> -->
				<label>Street Address (if available):</label>
				<input class="form-control" type="text" ng-model="biodata.address">
			</div>
		</div>
		<div class="row form-inline">
			<div class="col-md-11 col-md-offset-1 form-group">
				<label>Start year:</label>
				<input class="form-control" type="text" ng-model="biodata.start_year">
<!-- 			</div>
			<div class="col-md-4"> -->
				<label>End year:</label>
				<input class="form-control" type="text" ng-model="biodata.end_year">
			</div>
		</div>
		<div class="row form-inline">
			<div class="col-md-11 col-md-offset-1">
				<p>Leave any fields blank if information isn't available.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2> Biography text </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<p>Don't forget to put &lt;p&gt; at the beginning of each paragraph and &lt;/p&gt; at the end.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<textarea style="width:100%; height:250px" ng-model="biodata.bio_text"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2> Sources </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<p>Please paste in the source in Chicago format.</p>
				<p>Please use the &lt;a&gt; tag to indicate a link. The format is as such:</p>
				<p>&lt;a href="http://www.PutTheUrlHere.com/"&gt;http://www.PutTheUrlHere.com/&lt;/a&gt;</p>
				<p><b>Bold</b> text should be surrounded with the &lt;b&gt; tag. Example: &lt;b&gt;bold text&lt;/b&gt;</p>
				<p><i>Italic</i> text should be surrounded with the &lt;i&gt; tag. Example: &lt;i&gt;italic text&lt;/i&gt;</p>
				<p><u>Underlined</u> text should be surrounded with the &lt;u&gt; tag. Example: &lt;u&gt;underlined text&lt;/u&gt;</p>
				<button class="btn btn-default" ng-click="addSource()">Add Source</button>
				<p></p>
			</div>
		</div>
		<div class="row form-group" ng-repeat="source in biodata.sources track by $index">
			<div class="col-md-1 col-md-offset-1">
				<label class="pull-right">Source: </label>
			</div>
			<div class="col-md-6">
				<input  class="form-control" type="textarea" ng-model="biodata.sources[$index]">
			</div>
			<div class="col-md-3 form-group">
				<button class="form-control btn btn-default" ng-click="removeSource($index)">Remove</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<button class="btn btn-lg btn-success form-control" ng-click="submit()">Submit</button>
			</div>
		</div>
		<div class="row">
		</div>
<!-- 		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<textarea class="form-control" ng-bind="biojson"></textarea>
			</div>
		</div> -->
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/retina-1.1.0.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>
