<div class="container" ng-controller="nav_controller">
	<div class="row header">
		<div class="col-md-3">
			<a href="/lyrics/">
				<img class="img-responsive" src="/lyrics/img/homelogo.png">
			</a>
		</div>
		<div class="col-md-9 nav-container pull-right hidden-xs">
			<div class="nav-link">
				<a href="./index.html">Home</a>
			</div>
			<div class="nav-link" ng-class="{active: isActive('search.html')}">
				<a href="./search.html">Search</a>
			</div>
			<div class="nav-link" ng-class="{active: isActive('browse.html')}">
				<a href="./browse.html">Browse</a>
			</div>
			<div class="nav-link" ng-class="{active: isActive('about.html')}">
				<a href="./about.html">About</a>
			</div>
		</div>
	</div>
	<div class="navbar navbar-default visible-xs">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/lyrics/">Romantic-era Lyrics</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./search.html">Search</a></li>
					<li><a href="./about.html">About Us</a></li>
					<li><a href="./browse.html">Browse</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>